#input_area{
	width: 90%;
	text-align: center;
}
#input_box{
	width:90%;
}
#input_area span{
	font-size: 12pt;
	text-align: right;
	font-style: italic;	
}
#results{
	width: 50%;
	text-align: center;
}
body{
	width: 95%;
	text-align: center;
}

table{
	border-style: none;
	text-align: center;
}
table,td,tr,th{
	margin: 0px;
	border-width: 0px;
	padding: 0px;
}
th{
	background-color: #C4C4C4;
}
td{
	width: 1.2em;
}
.lineA{
	background-color: #F7F7F7; 
}
.lineB{
	background-color: #CDCCCB;
}
.result{
	background-color: #A0A0A0;
}
#footer {
	width: 90%;
}
#footer p{
	font-size: 10pt;
	text-align: left;
	font-style: italic;
}